# Virtual environment for the project
astra-env 
# Python temporary files
**__pycache__
# IDE settings
.vscode
# TEST temport files
**.pytest_cache
# Historical Data
**historical_data
# Broker credentials
**broker_credentials.json
# Test runner
test_runner.py
# Scrip master
**scrip_master.csv